<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfr.mapper.UnderCreateMapper">
    <sql id="select_sql">
        u_cid as ucid,
        title,
        team_name as teamName,
        school,
        phone,
        email,
        student,
        teacher,
        money,
        pic,
        video,
        file_path as filePath,
        uid,
        create_time as createTime,
        update_time as updateTime,
        type,
        status,
        file_name as fileName
    </sql>

    <sql id="select_list">
        u_cid as ucid,
        title,
        team_name as teamName,
        create_time as createTime,
        status,
        uid,
        type
    </sql>

    <insert id="insert" parameterType="com.yfr.pojo.UnderCreateInfo">
        insert into undercreate(u_cid,title,team_name,school,phone,email,student,teacher,money, pic,video,
        file_path,uid,create_time,type,status,file_name) values (#{ucid},#{title},#{teamName},
        #{school},#{phone},#{email},#{student},#{teacher},#{money},#{pic},#{video},#{filePath},#{uid},#{createTime},#{type},#{status},
        #{fileName}
        )
    </insert>

    <select id="queryList" resultType="com.yfr.pojo.UnderCreateInfo">
        select
        <include refid="select_list"/>
        from undercreate order by create_time
    </select>

    <select id="queryMyList" resultType="com.yfr.pojo.UnderCreateInfo">
        select
        <include refid="select_list"/>
        from undercreate
        where uid=#{uid}
        order by create_time desc
    </select>

    <select id="queryProList" resultType="com.yfr.pojo.UnderCreateInfo">
        select
        <include refid="select_list"/>
        from undercreate
        order by create_time desc
    </select>

    <select id="queryInfo" parameterType="java.lang.Integer" resultType="com.yfr.pojo.UnderCreateInfo">
        select
        <include refid="select_sql"/>
        from undercreate where u_cid = #{ucid}
    </select>

    <delete id="delUnderInfo" parameterType="java.lang.Integer">
        delete from  undercreate where u_cid =#{ucid}
    </delete>

    <update id="updateStatus" parameterType="java.lang.Integer">
        update undercreate set status=#{status} where u_cid=#{ucid}
    </update>
    <select id="getStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select status
        from undercreate where u_cid = #{ucid}
    </select>

    <select id="selectTitleLike" resultType="com.yfr.pojo.UnderCreateInfo" parameterType="java.lang.String">
        select
        <include refid="select_list"/>
        from undercreate where title like CONCAT('%',#{title},'%')
    </select>

</mapper>